<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
     <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
     <clear />
     <add key="nuget" value="https://api.nuget.org/v3/index.json" />
     <add key="github" value="https://nuget.pkg.github.com/toposolutions/index.json" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="GitHub"/>
      <add key="ClearTextPassword" value="%NUGETAPIKEY%" />
    </github>
  </packageSourceCredentials>
</configuration>
